@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.column {
    flex-direction: column;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logo a {
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    background-color: black;
}
.mm_line {
    height: 3px;
    background-color: white;
}
nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul {
    display: flex;
}
nav ul a {
    padding: 26px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: white;
    color: #000;
}


section .banner_image {
    background-image: url("../images/naruto_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}


#main {
    display: flex;
    justify-content: center;
}
section .anime_informations {
    display: flex;
    width: 100%;
}
.block1,
.block2,
.block3 {
    flex: 1;
    padding: 10px;
}
.widget_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.widget_text {
    color: #004;
    padding-bottom: 20px;
}
.widget_button a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #FF4500;
    text-decoration: none;
    font-weight: bold;
    color: #FF4500;
    border-radius: 10px;
}
.widget_button a:hover {
    color: white;
    background-color: #FF4500;
}
.banner_link_to_watch {
    width: 100%;
    height: 100px;
    background-color: #2a2827;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    font-size: 25px;
}
.banner_watch_text {
    margin-left: 20px;
}
.banner_link {
    margin-right: 30px;
}
.banner_link a {
    padding: 10px 50px;
    border: 1px solid #FF4500;
    text-decoration: none;
    background-color: #FF4500;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    display: block;
}
.banner_link a:hover {
    background-color: white;
    color: #FF4500;
}
.padding-left {
    padding-left: 10px;
}
.padding-right {
    padding-right: 10px;
}
.area_title {
    display: flex;
    justify-content: center;
}
.characters_information {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    min-width: 350px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
    color: black;
}
article a:hover {
    text-decoration: underline;
}
article .character_image img {
    width: 100%;
    height: 350px;
}
article .character_name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}
article .character_description {
    margin-bottom: 20px;
}



.jutsu_information {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
}
.jutsu_description {
    margin-left: 20px;
}
.jutsu_image img {
    width: 450px;
    height: 400px;
}
.jutsu_title {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}



.game_area {
    display: flex;
    flex-wrap: wrap;
}
.game_content {
    flex:1;
    min-width: 150px;
    margin-left: 20px;
}
.game_thumbnail img {
    width: 100%;
    height: 200px;
}
.game_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}


footer {
    width: 100%;
    height: 50px;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
}
.copyright {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.copyright span {
    color: #FF4500;
}


@media only screen and (max-width: 850px) {
    .banner_link a {
        padding: 10px 14px;
    }
}
@media only screen and (max-width: 750px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: #000;
        width: 100%;
        margin-top: -10px;
    }
    nav ul a {
        padding: 20px 10px;
    }
    header {
        height: auto;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 20px;
        cursor: pointer;
    }
    .character_name {
        text-align: center;
    }
    .jutsu_information {
        flex-direction: column;
    }
    .jutsu_image {
        text-align: center;
        margin-bottom: 20px;
    }
    .jutsu_title {
        text-align: center;
    }
}
@media only screen and (max-width: 562px) {
    section .anime_informations {
        flex-direction: column;
    }
    .widget_title {
        text-align: center;
    }
}

@media only screen and (max-width: 460px) {
    .jutsu_image img {
        width: 320px;
        height: 320px;
    }
}
@media only screen and (max-width: 400px) {
    .banner_link_to_watch {
        flex-direction: column;
        height: auto;
    }
    .banner_watch_text {
        margin-top: 20px;
    }
    .banner_watch_text, .banner_link {
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
    }
}
@media only screen and (max-width: 380px) {
    article {
        min-width: 300px;
    }
}

@media only screen and (min-width: 750px) {
    nav ul {
        display: flex !important;
    }
}