header {
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.logo a {
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menuMobile {
    display: none;
    background-color: black;
    padding-right: 10px;
    cursor: pointer;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul {
    display: flex;
}
nav ul a {
    padding: 26px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
nav a:hover {
    background-color: white;
    color: #000;
}

.opened {
    display: flex;
}

@media only screen and (max-width: 800px) {
    nav ul {
        display: none;
    }
    .menuMobile {
        display: block;
    }
    header {
        height: auto;
    }
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        background-color: #000;
        width: 100%;
    }
    nav ul a {
        padding: 20px 10px;
    }
}