@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #FF9939;
}
.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.centralize {
    display: flex;
    justify-content: center;
}
.column {
    flex-direction: column;
}
.padding-left {
    padding-left: 10px;
}
.padding-right {
    padding-right: 10px;
}